textarea{ resize: none; }
select{ -webkit-appearance: none !important; -moz-appearance: none !important; border-radius: 0; }
ul.bar_tabs{background: none !important; margin-bottom: 0px !important; }
.panel{ padding-top:0 !important;}
.no-radius{border-radius: 0px !important;}
.modal-dialog{ margin-top: 10% !important; }
.thumbnail{height: auto !important;}
.view .mask, .view .content{height: 100%;}
.padding-top-10{padding-top: 10px !important;}.padding-top-20{padding-top: 20px !important;}
.clear{ width: 100% !important; padding: 10px !important;}