.no-border-top{border-top:none!important;}.no-border{border:none!important;}
.no-radius{border-radius:0!important;}
/**min-height**/
.mh-100{min-height:100px}.mh-150{min-height:150px}.mh-200{min-height:200px}.mh-250{min-height:250px}.mh-300{min-height:300px}.mh-350{min-height:350px}.mh-400{min-height:400px}.mh-450{min-height:450px}.mh-500{min-height:500px}.mh-550{min-height:550px}.mh-600{min-height:600px}.mh-650{min-height:650px}.mh-700{min-height:700px}.mh-750{min-height:750px}.mh-800{min-height:800px}.mh-850{min-height:850px}.mh-900{min-height:900px}.mh-950{min-height:950px}
.mxh-100{overflow:scroll;max-height:100px}.mxh-150{overflow:scroll;max-height:150px}.mxh-200{overflow:scroll;max-height:200px}.mxh-250{overflow:scroll;max-height:250px}.mxh-300{overflow:scroll;max-height:300px}.mxh-350{overflow:scroll;max-height:350px}.mxh-400{overflow:scroll;max-height:400px}.mxh-450{overflow:scroll;max-height:450px}.mxh-500{overflow:scroll;max-height:500px}.mxh-550{overflow:scroll;max-height:550px}.mxh-600{overflow:scroll;max-height:600px}.mxh-650{overflow:scroll;max-height:650px}.mxh-700{overflow:scroll;max-height:700px}.mxh-750{overflow:scroll;max-height:750px}.mxh-800{overflow:scroll;max-height:800px}.mxh-850{overflow:scroll;max-height:850px}.mxh-900{overflow:scroll;max-height:900px}.mxh-950{overflow:scroll;max-height:950px}

.clear{width: 100%; padding: 10px !important;}