
<!-- FOOTER -->
<footer class="site-footer clearfix" itemscope itemtype="https://schema.org/WPFooter">
	<div class="site-main-footer container theme-container">
		<div class="row">
			<div class="col-md-3 col-sm-6 clearfix">
				<section class="widget footer-widget widget_text clearfix">
					<div class="textwidget">
						<p class="fsz-35 text-center"><span class="bold-font-3 wht-clr">TheCam</span> <span
								class="thm-clr funky-font">Connect</span></p>
						<p class="text-center">Make Your Photograph</p>
						<div class="author-info-social text-center">
							<a class="goshop-share rcc-google" href="http://google.com" rel="nofollow" target="_blank">
								<i class="fa fa-google-plus"></i>
							</a>
							<a class="goshop-share rcc-twitter" href="http://twitter.com" rel="nofollow"
							   target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="goshop-share rcc-facebook" href="http://facebook.com" rel="nofollow"
							   target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="goshop-share rcc-linkedin" href="http://linkedin.com" rel="nofollow"
							   target="_blank">
								<i class="fa fa-linkedin"></i>
							</a>
							<a class="goshop-share rcc-pinterest" href="http://pinterest.com" rel="nofollow"
							   target="_blank">
								<i class="fa fa-pinterest-p"></i>
							</a>
						</div>
					</div>
				</section>
			</div>

			<div class="col-md-3 col-sm-6 clearfix">
				<section class="widget footer-widget widget_nav_menu clearfix">
					<h6 class="widget-title text-center">My Account</h6>
					<ul class="text-center">
						<li class="menu-item"><a href="#">Personal Information</a></li>
						<li class="menu-item"><a href="#">Address</a></li>
						<li class="menu-item"><a href="#">Discount</a></li>
						<li class="menu-item"><a href="#">Order History</a></li>
					</ul>
				</section>
			</div>

			<div class="col-md-3 col-sm-6 clearfix">
				<section id="nav_menu-3" class="widget footer-widget widget_nav_menu clearfix">
					<h6 class="widget-title text-center">Our Services</h6>
					<ul class="text-center">
						<li class="menu-item"><a href="#">Shipping Return</a></li>
						<li class="menu-item"><a href="#">International Shipping</a></li>
						<li class="menu-item"><a href="#">Secure Shopping</a></li>
						<li class="menu-item"><a href="#">Affiliates</a></li>
						<li class="menu-item"><a href="#">F.A.Q</a></li>
					</ul>
				</section>
			</div>

			<div class="col-md-3 col-sm-6 clearfix">
				<section id="text-6" class="widget footer-widget widget_text clearfix">
					<h6 class="widget-title text-center">Newsletter</h6>
					<div class="textwidget text-center">
						Find out whats going on every month with the CamConnect.
						<form class="mc4wp-form">
							<p>
								<label>Email address: </label>
								<input type="email" name="EMAIL" placeholder="Your email address" required/>
							</p>

							<p>
								<button class="submit"><i class="fa fa-envelope-o"></i></button>
							</p>
						</form>
					</div>
				</section>
			</div>
		</div>

		<div class="post-footer">
			<div class="payment-systems text-center">
				<div class="item"><a href="#"><img src="/img/extra/payment-1.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-2.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-3.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-4.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-5.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-6.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-7.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-8.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-1.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-2.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-5.png" alt=""></a></div>
				<div class="item"><a href="#"><img src="/img/extra/payment-3.png" alt=""></a></div>
			</div>
		</div>
	</div>

	<div class="subfooter text-center">
		<div class="container theme-container">
			<p>Copyright &copy; <a href="#" class="thm-clr"> TheCamConnect </a>. All Right Reserved 2016</p>
		</div>
	</div>
</footer>
