<!-- Search Popup -->
<div class="popup-box page-search-box">
	<div>
		<div class="popup-box-inner">
			<form>
				<input class="search-query" type="text" placeholder="Search and hit enter"/>
			</form>
		</div>
	</div>
	<a href="javascript:void(0)" class="close-popup-box close-page-search"><i class="fa fa-close"></i></a>
</div>
<!-- / Search Popup -->
